<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.mielientiev.quoter.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="com.mielientiev.quoter.ProfilingHandlerBeanPostProcessor"/>
    <bean class="com.mielientiev.quoter.PostProxyInvokerContextListener"/>
    <bean class="com.mielientiev.quoter.DepricationHandlerBeanFactoryPostProcessor"/>
    <!--Load BeanPostProcessors-->
    <!--=========================-->
    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <context:annotation-config/>
    <!--<context:component-scan base-package="com.mielientiev"/> <!-scan package + add common Annotations-->
    <!--=========================-->

    <bean id="terminatorQuoter" class="com.mielientiev.quoter.TerminatorQuoter">
        <property name="message" value="I'll be back"/>
    </bean>
</beans>